<form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
 <h2>{{user.userid ? 'Edit' : 'Add'}} {{user.name}}</h2>

  <input type="hidden" [(ngModel)]="user.userid" name="userid" #userid>
<label for="name">Name:</label>
  <input id="name" placeholder="User Name" [(ngModel)]="user.name"
             required name="name" #name>
<label for="type">Type:</label>
  <input id="type" placeholder="User Type" [(ngModel)]="user.type"
         required name="type" #type>


    <button  type="submit" [disabled]="!userForm.form.valid">Save</button>
    <button (click)="remove(user.userid)" *ngIf="user.userid" type="button">Delete</button>
    <a routerLink="/user-list">Cancel</a>

</form>
